fastapi
uvicorn
python-multipart

torch
torchvision
transformers==4.51.3
accelerate
peft==0.13.2
sentencepiece
einops
timm
bitsandbytes

easyocr
opencv-python-headless
Pillow

numpy
pandas
scikit-learn

pyngrok
pydantic
